<?php
$title = 'Изменение пароля';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
/** @var User\Form\AuthForm $form */
$form = $this->form;
$form->setAttribute('action', $this->url('user', ['action' => 'change-password']));
$form->setAttribute('class', 'form-horizontal');

$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('password'));
echo '<br>';
echo $this->formRow($form->get('password_repeat'));
echo '<br>';
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>
<a href="<?php echo $this->url('user', ['action' => 'main'])?>">Назад</a>

