<?php
$title = 'Редактирование профиля';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
/** @var User\Form\EditProfileForm $form */
$form = $this->form;
$form->setAttribute('action', $this->url('user', ['action' => 'edit-profile']));
$form->setAttribute('class', 'form-horizontal');

$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('name'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>

<a href="<?php echo $this->url('user', ['action' => 'change-password'])?>">Изменить пароль</a> |
<a href="<?php echo $this->url('user', ['action' => 'main'])?>">Назад</a>
