<a href="<?php echo $this->url('user', ['action' => 'auth'])?>">Авторизация</a><br>
<a href="<?php echo $this->url('user', ['action' => 'registration'])?>">Регистрация</a><br>
<a href="<?php echo $this->url('user', ['action' => 'reset-password'])?>">Восстановление пароля</a>
<br><br>
<b>Каждый день строить и рвать мозг</b><br>
<strong style="color:green">Задачи разработки</strong>
<ol>
    <li>Быстрая разработка - использование готовых решений, знание фреймворка</li>
    <li>Быстрое развитие - гибкий код, позволящий расширять функционал не задевая текущий</li>
    <li>Простая поддержка - понятный код</li>
</ol>
<strong style="color:blue">Описание архитектуры и решений [компоненты]</strong>
<ol>
    <li>Работа с формами</li>
    <li>Авторизация, регистрация</li>
    <li>Роли и привилегии пользователей</li>
</ol>
<strong style="color: seagreen">Архитектура данных</strong>
<ol>
    <li>Сущности</li>
    <li>Поля</li>
    <li>Тип данных</li>
    <li>Связи</li>
</ol>
<strong style="color: #da223b">Бизнес процессы и функционал</strong>
<ol>
    <li>Разработать модели бизнес процессов</li>
    <li>Описание доступный функционал</li>
</ol>