Логин: <?php echo $this->user->getLogin();?>
 | Имя: <?php echo $this->user->getName();?>
 | <a href="<?php echo $this->url('user', ['action' => 'edit-profile'])?>">Редактирование профиля</a>
 | <a href="<?php echo $this->url('user', ['action' => 'logout'])?>">выйти</a>