<?php
$title = 'Регистрация пользователя';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
/** @var User\Form\AuthForm $form */
$form = $this->form;
$form->setAttribute('action', $this->url('user', ['action' => 'registration']));
$form->setAttribute('class', 'form-horizontal');

$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('login'));
echo '<br>';
echo $this->formRow($form->get('password'));
echo '<br>';
echo $this->formRow($form->get('password_repeat'));
echo '<br>';
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();