<?php
$title = 'Восстановление пароля';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
/** @var User\Form\ResetPasswordForm $form */
$form = $this->form;
$form->setAttribute('action', $this->url('user', ['action' => 'reset-password']));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('login'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();

if($this->message){
    echo $this->message;
}
/*<a href="<?php echo $this->url('user', ['action' => 'recovery-password', 'hash' => $this->time]);?>">Восстановить пароль</a>*/
?>

<a href="<?php echo $this->url('user')?>">назад</a>
