<?php
/** @var ProductWeb\Entity\ProductWeb[] $products */
$products = $this->product;
?>
<a href="<?php echo $this->url('list-basket', ['action' => 'listBasket'])?>">В корзине: <?php echo $this->basket;?> |
<a href="<?php echo $this->url('city', ['action' => 'city'])?>">Город: <?php echo $this->city->getName();?>

</a><br><br>

<?php foreach($products as $item):?>
    <?php echo $item->getId();?>
    <?php echo $item->getName();?>
    <?php echo $item->getPrice();?>
    <a href="<?php echo $this->url('basket', ['action' => 'add-to-basket', 'id' => $item->getId(), 'quantity' => 1])?>">Добавить в корзину</a><br>
<?php endforeach; ?>

<a href="<?= $this->url('list', ['page' => $this->product->getPages()->first]); ?>">first</a>
<?php foreach ($this->product->getPages()->pagesInRange as $page):?>
        <a href="<?= $this->url('list', ['page' => $page]); ?>"><?= $this->escapeHtml($page); ?></a>
<?php endforeach; ?>
<a href="<?= $this->url('list', ['page' => $this->product->getPages()->last]); ?>">last</a>

