<h1>Город</h1>
<?php
/** @var ProductWeb\Entity\City[] $city */
$city = $this->city;

?>

<?php
foreach($city as $item):?>
    <?php echo $item->getId();?>
    <a href="<?php echo $this->url('city', ['action' => 'set-city', 'id' => $item->getId()])?>"><?php echo $item->getName();?></a><br>
<?php endforeach; ?>
