<h1>Список заказов</h1>
<?php
/** @var \ProductWeb\Entity\Order[] $orders */
$orders = $this->order;
?>
<?php
foreach ($orders as $order):?>
    <?php echo $order->getId();?> |
    <?php echo $order->getName();?> |
    <?php echo $order->getCreatedAt()->format("d M Y H:i:s");?> |
    <?php echo $order->getDelivery()->getCity()->getName();?> |
    <?php echo $order->getDelivery()->getName();?> ||
    <?php
    /** @var \ProductWeb\Entity\Basket[] $baskets */
    $baskets = $order->getBasket();
    ?>
    <?php
    $total = 0;
    foreach ($baskets as $item):?>
        <?php
        $price = $item->getPrice() * $item->getQuantity();
        $total += $price;
        ?>
        <?php echo $item->getProduct()->getName();?>
        <?php echo $item->getPrice();?>
        <?php echo $item->getQuantity();?> |
    <?php endforeach;?>
    <?php
    $total += $order->getDelivery()->getPrice();
    ?>
    Итого: <?php echo $total;?> |
    <br>
<?php endforeach;?>