<h1>Корзина</h1>
<?php
/** @var ProductWeb\Entity\Basket[] $basket */
$basket = $this->basket;
/** @var \ProductWeb\Entity\Delivery[] $delivery */
$delivery = $this->delivery;
/** @var \ProductWeb\Entity\Delivery $selectDelivery */
$selectDelivery = $this->select_delivery;
?>

<?php
$total = 0;
if(!empty($basket)):
    foreach($basket as $item):?>
        <?php
        $price = $item->getPrice() * $item->getQuantity();
        $total += $price;?>
        <?php echo $item->getProduct()->getName();?>
        <?php echo $item->getPrice();?>
        <?php echo $item->getQuantity();?>
        <?php echo $price;?><br>
    <?php endforeach;
endif;?>
<br>
Способ доставки:<br>
<?php if(empty($delivery)):?>
    Способы доставки для вашего города не найдены
<?php else:?>
    <?php foreach($delivery as $item):?>
        <a href="<?php echo $this->url('set-delivery', ['action' => 'set-delivery', 'id' => $item->getId()])?>"><?php echo $item->getName();?></a>
        <?php echo $item->getPrice();?>
        <?php echo $item->getCity()->getName();?>
        <br>
    <?php endforeach; ?>
    <?php
    $total += $selectDelivery->getPrice();
    ?>
    <br>
    Итого: <?php echo $total;?><br>

    <?php if(count($basket) > 0) :?>
        <a href="<?php echo $this->url('fill', ['action' => 'fill'])?>">Оформить</a>
    <?php endif;?>
<?php endif;?>